<link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
@model AffairsManager.Models.Affairs
@{
    Layout = null;
}

<a href="/Home/Index">
    <i class="material-icons alig-top">home</i>
    Домой
</a>
   @using (Html.BeginForm())
   {
    <div class="dottedSheet padding">
    <div class="header">Новое дело</div>
    <table>
        <tr  height="40px">
            <td>Название:</td>
            <td class="padding-left">
                @Html.TextBoxFor(x => x.Name,
             new { required = "required", style = "width: 400px;", @class="outline"})
        </td>
    </tr>
    <tr>
        <td>Описание:</td>
        <td class="padding-left">
            @Html.TextAreaFor(x => x.Description,
                  new { @style = "width: 400px;", rows = "4", @class = "outline" })
    </td>
</tr>
<tr  height="40px">
    <td>Катерогия:</td>
    <td>
        @Html.RadioButtonFor(x => x.Importance, "Red",
                      new { @checked = "chrecked" })
        <span class="textRed">Крайне важно</span>
        @Html.RadioButtonFor(x => x.Importance, "Orange")
        <span class="textOrange">Важно</span>
        @Html.RadioButtonFor(x => x.Importance, "Green")
        <span class="textGreen">Неважно</span>
    </td>

</table>
</div>
<div class="margin-top">
<ul id="menu">
        <li><button type="submit">
               <i class="material-icons alig-top">save</i> Сохранить
            </button>
        </li>
        <li>
            <a href="/Home/Index">
                <i class="material-icons alig-top">cancel</i>Отменить
            </a>
        </li>
</ul>
        </div>}
